<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details - SHOEZIE</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        .card-body{
    padding: 10px;
        }
    body{
        font-family:poppins;
    }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-between">
            <h5 class="mb-4">Order Details</h5>
            <div>
                <a href="/admin/orders" class="mr-3">Back to Orders</a>
            </div>           
        </div>
       
        <% if(order){ %>
            <div class="card ">
                <div class="card-header">
                    <h6>Order #<%= order._id %></h6>
                    <p class="m-0">Order Date: <%= order.orderDate.toLocaleDateString() %></p>
                    <p class="">Order Time: <%= order.orderDate.toLocaleTimeString() %></p>
                    <p>Status: <span class="badge <%= 
                        order.orderStatus === 'Pending' ? 'badge-warning' :
                        order.orderStatus === 'Processing' ? 'badge-info' :
                        order.orderStatus === 'Shipped' ? 'badge-primary' :
                        order.orderStatus === 'Delivered' ? 'badge-success' :
                        order.orderStatus === 'Cancelled' ? 'badge-danger' :
                        order.orderStatus === 'Returned' ? 'badge-success' :

                        order.orderStatus === 'Failed' ? 'badge-danger' : ''
                    %>">
                        <%= order.orderStatus %>
                    </span></p>
                </div>
                <div class="card-body p-4">
                    <h6>Shipping Address</h6>
                    <p><%= order.shippingAddress.fullname %><br>
                       <%= order.shippingAddress.address %><br>
                       <%= order.shippingAddress.city %>, <%= order.shippingAddress.state %> <%= order.shippingAddress.pincode %><br>
                       <%= order.shippingAddress.phone %></p>
    
                    <h6>Payment Information</h6>
                    <p>Payment Method: <%= order.paymentMethod %></p>
                    <p>Payment Status: <%= order.paymentStatus %></p>
                    <h6>Ordered Products</h6>
                    <table class="table w-75">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Product </th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach(item => { %>
                            <tr>
                                <td><img src="<%= item.productId.imageUrls[0] %>" alt="<%= item.productId.name %>" style="width: 50px; height: auto;"></td>
    
                                <td><%= item.productId.name %></td>
                                <% let effectivePrice %>
                                <% if(item.offerId){ %>
                                    <td>
                                        <del>₹ <%= item.price %>.00</del>
                                    <% if(item.offerId.offerType === 'percentage' ){ %>
                                        <% if(item.offerId.maxDiscount){ %>
                                            <% if((item.productId.price * item.offerId.value / 100) > item.offerId.maxDiscount){ %>
                                                
                                            ₹ <%=(item.productId.price-item.offerId.maxDiscount).toFixed(2)  %>
                                                </td>
                                                <% effectivePrice = (item.productId.price-item.offerId.maxDiscount).toFixed(2) %>
                                            <%}else{ %>
                                                
                                            ₹ <%=(item.productId.price-(item.productId.price * item.offerId.value / 100)).toFixed(2) %>
                                                </td>
                                                <% effectivePrice = (item.productId.price-(item.productId.price * item.offerId.value / 100)).toFixed(2)  %>
                                            <%}%>
                                        <% }else{ %>
                                            ₹ <%=(item.productId.price-(item.productId.price * item.offerId.value / 100)).toFixed(2) %>
                                            </td>
                                            <% effectivePrice = (item.productId.price-(item.productId.price * item.offerId.value / 100)).toFixed(2) %>
                                       <% } %>
                                   
                                <% }else{ %>
                                    ₹ <%=(item.productId.price-item.offerId.value ).toFixed(2) %>
                                    </td>
                                    <%  effectivePrice = (item.productId.price-item.offerId.value ).toFixed(2) %>
                                <% } %>
                                <% }else{ %>
                                    <td>₹ <%= item.price %>.00</td>
                                    <% effectivePrice =  item.price %>
                                <% } %>
                                <td><%= item.quantity %></td>
                                <td>₹ <%= (effectivePrice * item.quantity).toFixed(2) %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="mt-4">
                        <% if(order.couponDiscount){ %>
                            <h6><small>Coupon Discount: -  ₹ <%= (order.couponDiscount).toFixed(2) %> </small></h6>
                           <% } %>
                           <h6>Total Price: ₹ <%= (order.totalAmount).toFixed(2) %></h6>
                    </div>
                   
               
                </div>
            </div>
            <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
