
                  <%- include('partials/header') %>

    <link rel="stylesheet" href="/styles/admin/category.css"> 
    <link rel="stylesheet" href="/styles/admin/dashboard.css"> 
   
</head>
<body>
    <div class="d-flex" id="wrapper">

        <%- include('partials/sidebar') %>

        <div id="page-content-wrapper">

            <%- include('partials/navbar') %>

            <div class="container">
                <h5 class="mb-4">Users</h5>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(user){ %>
                            <% user.forEach((user, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= user.firstname %> </td>
                                    <td><%= user.email %></td>
                                    <td >
                                        <span class="badge text-light <%= user.status ? 'bg-success' : 'bg-danger' %> status-badge">
                                            <%= user.status ? 'Active' : 'Inactive' %>
                                        </span>
                                    </td>
                                    <td>
                                    <button class="btn <%= user.status ? 'btn-danger' : 'btn-success' %> btn-sm" 
                                    onclick="toggleUserStatus('<%= user._id %>', this)">
                                    <%= user.status ? 'Unlist' : 'List' %>
                                    </button>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

                    <%- include('partials/footer') %>

        <script src="/js/admin/sidebarToggle.js"></script>
        <script src="/js/admin/usersList.js"></script>
</body>
</html>
