<%- include('partials/header') %>

    <link rel="stylesheet" href="/styles/user/partials/navbar.css">
    <link rel="stylesheet" href="/styles/user/partials/profileSidebar.css">
    <link rel="stylesheet" href="/styles/pagination.css">
    <style>
        .order-container {
            max-width: 800px; 
            margin: auto;
        }
        
        .order-card {
            border: 1px solid #ccc;
            border-radius: 5px; 
            background-color: #fff; 
        }
        .order-card a{
            text-decoration: none;
            color: black;
        }
        .order-card img {
            width: 50px; 
            height: 50px; 
            margin-right: 3px; 
        }
        </style>
</head>
<body>

<%- include('partials/navbar') %>

<main>
    <div class="container mt-5">
        <div class="row">
            <%- include('partials/profileSidebar')  %>
            <div class="col-md-9 pl-5">
                <h5 class="mb-4"><small>My Orders</small></h5>
                <div class="order-container">
                    <% if(order.length > 0){ %>
                        <% order.forEach((order, index) => { %>
                            <div class="order-card border p-3 mb-3">
                                <a href="/user/profile/orders/<%= order._id %>">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <strong>Order #<%= index + 1 %></strong>
                                        <div>
                                        <span class="badge  <%= 
                                            order.orderStatus === 'Returned' ? 'badge-success' :
                                            order.orderStatus === 'Pending' ? 'badge-warning' :
                                            order.orderStatus === 'Processing' ? 'badge-info' :
                                            order.orderStatus === 'Shipped' ? 'badge-primary' :
                                            order.orderStatus === 'Delivered' ? 'badge-success':
                                            order.orderStatus === 'Cancelled' ? 'badge-danger' :
                                            order.orderStatus === 'Failed' ? 'badge-danger' :
                                            '' 
                                        %>">
                                            <%= order.orderStatus %>
                                        </span>
                                    </div>
                                    </div>

                                    
                                    <div><%= order.orderDate.toLocaleDateString() %></div>
                                    <% if(order.return.status){ %>
                                        <div class="d-flex align-items-center">
                                            Return
                                            <span class="badge ml-3  <%= 
                                                order.return.status === 'Pending' ? 'badge-warning' :
                                                order.return.status === 'Approved' ? 'badge-success' :
                                                order.return.status === 'Rejected' ? 'badge-danger' :
                                                '' 
                                            %>">
                                                <%= order.return.status %>
                                            </span>
                                        </div>
                                    <% }else if(order.orderStatus === 'Cancelled'){ %>
                                        <div class="d-flex align-items-center">
                                            Order Cancelled
                                        </div>
                                    <% }else{ %>
                                        <div class="d-flex align-items-center">
                                            payment
                                            <span class="badge ml-3  <%= 
                                                order.paymentStatus === 'Pending' ? 'badge-warning' :
                                                order.paymentStatus === 'Paid' ? 'badge-success' :
                                                order.paymentStatus === 'Failed' ? 'badge-danger' :
                                                '' 
                                            %>">
                                                <%= order.paymentStatus %>
                                            </span>
                                        </div>
                                    <% } %>
                               
                                    <div> ₹ <%= order.totalAmount %>.00</div>
                                    <div class="d-flex align-items-center ml-3">
                                        <% order.items.forEach((item, index) => { %>
                                            <% if (index < 3) { %>
                                                <img src="<%= item.productId.imageUrls[0] %>" alt="Item <%= index + 1 %>" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 3px;">
                                            <% } %>
                                        <% }) %>
                                        <% if (order.items.length > 3) { %>
                                            <span class="mt-2">+<%= order.items.length - 3 %></span>
                                        <% } %>
                                    </div>
                                </div>  
                            </a>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No orders found</p>
                    <% } %>
                </div>
                
                <!-- Pagination Controls -->
                <div class="d-flex justify-content-center mt-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" class="page-link">Previous</a>
                                </li>
                            <% } %>

                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a href="?page=<%= i %>&limit=<%= limit %>" class="page-link"><%= i %></a>
                                </li>
                            <% } %>

                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" class="page-link">Next</a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
                                        <%- include('partials/footer') %>
</body>
</html>
