<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOEZIE - My Orders</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/styles/user/partials/navbar.css">
    <link rel="stylesheet" href="/styles/user/partials/profileSidebar.css">
    
</head>
<body>

<!-- Navbar -->
<%- include('partials/navbar') %>

<!-- User Profile Section -->
<main>
    <div class="container mt-5">
        <div class="row">
            <%- include('partials/profileSidebar')  %>
            <div class="col-md-9 pl-5">
                <h5 class="mb-4">My Orders</h5>
                <div class="order-container">
                    <% if(order.length > 0){ %>
                        <% order.forEach((order, index) => { %>
                            <div class="order-card border p-3 mb-3">
                                <a href="/user/profile/orders/<%= order._id %>">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <strong>Order #<%= index + 1 %></strong>
                                        <div>
                                        <span class="badge  <%= 
                                            order.orderStatus === 'Returned' ? 'badge-success' :
                                            order.orderStatus === 'Pending' ? 'badge-warning' :
                                            order.orderStatus === 'Processing' ? 'badge-info' :
                                            order.orderStatus === 'Shipped' ? 'badge-primary' :
                                            order.orderStatus === 'Delivered' ? 'badge-success':
                                            order.orderStatus === 'Cancelled' ? 'badge-danger' :
                                            order.orderStatus === 'Failed' ? 'badge-danger' :
                                            '' 
                                        %>">
                                            <%= order.orderStatus %>
                                        </span>
                                    </div>
                                    </div>

                                    
                                    <div><%= order.orderDate.toLocaleDateString() %></div>
                                    <% if(order.return.status){ %>
                                        <div class="d-flex align-items-center">
                                            Return
                                            <span class="badge ml-3  <%= 
                                                order.return.status === 'Pending' ? 'badge-warning' :
                                                order.return.status === 'Approved' ? 'badge-success' :
                                                order.return.status === 'Rejected' ? 'badge-danger' :
                                                '' 
                                            %>">
                                                <%= order.return.status %>
                                            </span>
                                        </div>
                                    <% }else if(order.orderStatus === 'Cancelled'){ %>
                                        <div class="d-flex align-items-center">
                                            Order Cancelled
                                        </div>
                                    <% }else{ %>
                                        <div class="d-flex align-items-center">
                                            payment
                                            <span class="badge ml-3  <%= 
                                                order.paymentStatus === 'Pending' ? 'badge-warning' :
                                                order.paymentStatus === 'Paid' ? 'badge-success' :
                                                order.paymentStatus === 'Failed' ? 'badge-danger' :
                                                '' 
                                            %>">
                                                <%= order.paymentStatus %>
                                            </span>
                                        </div>
                                    <% } %>
                               
                                    <div> ₹ <%= order.totalAmount %>.00</div>
                                    <div class="d-flex align-items-center ml-3">
                                        <% order.items.forEach((item, index) => { %>
                                            <% if (index < 3) { %>
                                                <img src="<%= item.productId.imageUrls[0] %>" alt="Item <%= index + 1 %>" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 3px;">
                                            <% } %>
                                        <% }) %>
                                        <% if (order.items.length > 3) { %>
                                            <span class="mt-2">+<%= order.items.length - 3 %></span>
                                        <% } %>
                                    </div>
                                </div>  
                            </a>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No orders found</p>
                    <% } %>
                </div>
                
                <style>
                .order-container {
                    max-width: 800px; /* Adjust width as needed */
                    margin: auto;
                }
                
                .order-card {
                    border: 1px solid #ccc; /* Border for each order */
                    border-radius: 5px; /* Optional: rounded corners */
                    background-color: #fff; /* Optional: background color */
                }
                .order-card a{
                    text-decoration: none;
                    color: black;
                }
                .order-card img {
                    width: 50px; /* Image width */
                    height: 50px; /* Image height */
                    margin-right: 3px; /* Spacing between images */
                }
                </style>
                
    
            </div>
        </div>
    </div>
</main>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
