<%- include('partials/header')  %>

    <link rel="stylesheet" href="/styles/user/partials/navbar.css">
    <style>
        .product-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            position: relative;
        }
        .trash{
            position: absolute;
            top: 10px;
            right: 30px;
            border: none;
        }
     
        .product-info {
            flex-grow: 1;
            margin-left: 10px;
        }
        .product-info p {
            margin: 0;
        }
        .delete-icon {
            cursor: pointer;
            color: red;
            font-size: 1.2em;
        }
        .card {
        border: none; 

        }
        .category{
        font-size:12px;
        margin: 0;
        margin-top: 2px;
        margin-bottom: 4px;
        color: #a4a4a4;
        }   
        .star-rating {
        color: #F5BF25; 
        font-size: x-small;
        }
        .card-link {
            text-decoration: none;
            color: inherit;
        }
        .card-link:hover {
            text-decoration: none;
            color: inherit;
        }
        .addtocart {
            border: 1px solid black;
            border-radius: 5px;
            color: rgb(0, 0, 0);
            background-color: white;
            transition: all 0.3s ease;  
        }

        .addtocart:hover {
            background-color: #000000;
            color: rgb(255, 255, 255);
         }
         
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-4">
    <div id="productContainer" class="col-md-12">
        <h5>Wishlist</h5>
        <div class="row">
            <% if(wishlist.items.length > 0){%>
                <% wishlist.items.forEach(item => {%>
                    <div id="productCard" class="col-md-3 mb-4 productCard">
                        <a href="/shop/<%= item.productId._id %>" class="card-link">
                            <div class="card">
                                <img src="<%= item.productId.imageUrls[0] %>" class="card-img-top fixed-height" alt="Product 1">
                                <div class="card-body p-0 ml-2 mr-2" style="text-align: left;">
                                    <div>
                                        <p class="card-title font-weight-bold my-2"><%= item.productId.name %></p>
                                        <div class="star-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span>(4.5)</span>
                                        </div>
                                   
                                        <p class="price">₹ <%= item.productId.price %></p>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="trash" onclick="confirmDeletion('<%= item._id %>')">
                            <i class="fa-regular fa-trash-can" style="color: #000000;"></i></div>
                    </div>
                <% }) %>
            <% }else{ %>
                <div class="d-flex align-items-center justify-content-center" style="height: 80vh; width: 100%;">
                    <p >There is no products in your wishlist</p>

                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

    <script>

        function confirmDeletion(itemId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You won\'t be able to revert this!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {

        if (result.isConfirmed) {
            console.log(itemId);
            
            fetch('/wishlist/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ itemId }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        Swal.fire(
                            'Deleted!',
                            data.message,
                            'success'
                        ).then(() => location.reload());
                    } else {
                        Swal.fire(
                            'Error!',
                            data.message,
                            'error'
                        );
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    Swal.fire(
                        'Error!',
                        'Failed to remove item. Please try again.',
                        'error'
                    );
                });
        }
    });
}
      
function addToCart(productId,sizeId) {
    console.log('hi');
    
    fetch(`/cart/add/${productId}/${sizeId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => {
        // if (!response.ok) {
        //     throw new Error('Network response was not ok');
        // }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: 'Added to Cart!',
                text: data.message,
                icon: 'success',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK',
            });
        }else{
            Swal.fire({
            title: 'Error!',
            text: 'Error adding to cart: ' + data.message,
            icon: 'error',
            confirmButtonColor: '#d33',
            confirmButtonText: 'Try Again',
        });
        }
    })
    .catch(error => {
        Swal.fire({
            title: 'Error!',
            text: 'Error adding to cart: ' + error.message,
            icon: 'error',
            confirmButtonColor: '#d33',
            confirmButtonText: 'Try Again',
        });
        console.error('Error:', error);
    });
}

    </script>
</body>
</html>
